// Gruvbox Material Dark — Rofi color theme
// Managed by chezmoi

* {
    main-bg:                     #282828e6;
    main-fg:                     #ebdbb2ff;
    main-br:                     #fabd2fff;
    main-ex:                     #d5c4a1ff;
    select-bg:                   #83a598ff;
    select-fg:                   #282828ff;

    text-color:                  @main-fg;
}
