# Git configuration - Managed by chezmoi
[user]
    name = {{ .git.name | quote }}
    email = {{ .git.email | quote }}

[core]
    editor = nvim
    autocrlf = input
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    pager = delta

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[delta]
    navigate = true
    light = false
    line-numbers = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only

[alias]
    st = status -sb
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    last = log -1 HEAD --stat
    undo = reset HEAD~1 --mixed
    amend = commit --amend --no-edit

[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential
