layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="80%"
        pane size="20%" {
            command "bash"
            args "-c" "$HOME/.local/bin/system-monitor"
            start_suspended false
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
