layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="20%" command="yazi" start_suspended=false
        pane size="80%" command="nvim" start_suspended=false
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
