layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="20%" {
            command "yazi"
        }
        pane size="60%" {
            command "nvim"
        }
        pane size="20%" split_direction="horizontal" {
            pane size="50%" {
                command "system-monitor"
            }
            pane size="50%"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
