theme "catppuccin-mocha"
default_layout "default"
mouse_mode true
on_force_close "detach"
simplified_ui true
disable_session_metadata true
show_startup_tips false

themes {
    catppuccin-mocha {
        fg "#cdd6f4"
        bg "#1e1e2e"
        black "#45475a"
        red "#f38ba8"
        green "#a6e3a1"
        yellow "#f9e2af"
        blue "#89b4fa"
        magenta "#f5c2e7"
        cyan "#94e2d5"
        white "#bac2de"
        orange "#fab387"
    }
}
