theme "gruvbox-material-dark"
default_layout "default"
mouse_mode false
on_force_close "detach"
simplified_ui true
disable_session_metadata true
show_startup_tips false

themes {
    gruvbox-material-dark {
        fg "#ebdbb2"
        bg "#282828"
        black "#282828"
        red "#fb4934"
        green "#b8bb26"
        yellow "#fabd2f"
        blue "#83a598"
        magenta "#d3869b"
        cyan "#8ec07c"
        white "#ebdbb2"
        orange "#fe8019"
    }
}
